{% extends 'aplicacion/base.html' %}
{% load static %}
{% block titulo %}About{% endblock titulo %}
{% block cabecera %} About {% endblock cabecera %}

{% block contenido %}
Bienvenido a nuestro rincón de aprendizaje en línea!<br>
<br>
# Alguna vez pensaste en aprender programación, diseño, ciencia de datos o algo completamente nuevo?<br>
<br>
# Explora nuestros cursos de manera relajada y sumérgete en lecciones emocionantes que te ayudarán a crecer y brillar en lo que más te apasiona. <br>
<br>
# Nuestros cursos están diseñados para adaptarse a tu horario y estilo de vida. Aprende a tu propio ritmo y decide cuándo te sientes más inspirado. <br>
<br>
# En nuestra página, te traemos contenido fresco y moderno. Aprenderás las últimas tendencias y te convertirás en un maestro en lo que te apasiona. <br>
<br>
# una sección especial de cursos con descuentos para que puedas aprender sin preocuparte por tu billetera. <br>
<br>
#listo para lanzarte a la aventura? Nuestra página de cursos es tu boleto a un mundo de oportunidades de aprendizaje divertidas y enriquecedoras. No importa quién eres o de dónde vienes, ¡aquí todos están invitados a aprender y disfrutar! ¡Bienvenido a la diversión educativa! 🚀
{% endblock contenido %}
    