{% extends 'aplicacion/base.html' %}
{% load static %}
{% block titulo %}Yo{% endblock titulo %}
{% block cabecera %} Yo {% endblock cabecera %}

{% block contenido %}
Soy Ignacio Giannini y quiero contarles un poco sobre mí. Tengo 19 años y estoy a punto de arrancar a estudiar odontología. <br>

Cuando no estoy estudiando, estoy entrenando rugby. El rugby es mi pasión, Correr, tacklear y compartir con mi equipo son cosas que disfruto mucho, es mi lugar feliz. <br>

En verano, no hay lugar donde prefiera estar que en la playa. Me gusta mucho el surf! y disfrutar con mis amigos. <br>

Antes de llegar a esto de la odontología, fui parte del colegio San Nicolás de los Arrollos. <br>

Además de mis estudios de odontología, estoy sumergiéndome en el mundo de la programación. tal vez combine dientes y códigos algún día! <br>

Entonces, ya saben algo más sobre mí. Ignacio: futuro dentista, amante del rugby, adicto al surf y explorador del mundo de la programación.
{% endblock contenido %}